// Varibles
@night: #242424;
@terminal: #000;

// Styles
.hero-component {
  .author-copyright {
    font-family: 'Monsieur La Doulaise', cursive;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 50px;
    bottom: 20px;
  }

  .particle-component-night {
    background-color: @night;
  }

  .particle-body {
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .hero-body-content {
    background-color: @terminal;
    opacity: 0.5;
    padding: 20px;
    border: 1px solid;

    p.typed-wrapper {
      z-index: 2;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-component {
    .hero.has-carousel {
      height: 250px;
    } 
  }
}

