.hero-component {
  .author-copyright {
    font-family: 'Monsieur La Doulaise', cursive;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 50px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-component {
    .hero.has-carousel {
      height: 250px;
    } 
  }
}

