// Variables
@heart: red;

// Footer component styling
.footer-component {
  .fa-heart {
    color: @heart;
  }

  .follow-me-at {
    margin-bottom: 10px;
  }
  
  .social-icon {
    padding: 10px;
  }
}