.about-me-component {

  .message {
    width: 100%;
  }

  .panel-block {
    display: block;
  }

  .bd-notification {
    ol {
      margin-left: 20px;
      padding: 5px;
    }
    
    .panel-block {
      padding-top: 20px;
    }
  }
}