.about-me-component {
  .message {
    width: 100%;
  }

  .side-content, .main-content {
    ul li {
      padding: 5px;
    }

    ul {
      margin-bottom: 10px;
    }

    p.text-primary {
      padding: 10px;
    }
  }
}