.error-component {
  font-family: 'Lato', sans-serif;
  position: relative; 
  max-width: 1024px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    text-align: center;

    h2, p {
      color: white;
    }

    h2 {
      font-weight: 300;
      font-size: 21em;
    }

    p {
      font-weight: 400;
    }
  }
}